@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&family=Lobster&display=swap');

:root {
  --red: red;
  --pink: pink;
  --green: #20B1A3;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: 'lobster', sans-serif;
}
.flex-container{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10%;
}
.player{
  display: grid;
  padding-top: 10%;
  gap: 10px;
}
.player h3{
  font-size: 2em;
}
.player span{
  font-size: 3.5em;
}
.player button , .center button{
  padding: 10px 40px ;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border: none;
  border-radius: 10px;
  font-size: .8em;
  font-weight: 800;
}
.center button{
  margin-top: 10px;
}
.player button:active , .center button:active{
  outline: 0;
  box-shadow:
    1px 0   0 var(--right-color),
    1px 1px 0 var(--bottom-color);
  
  transform: translate(2px, 2px);
}
.center button{
  background-color: red;
}
.center{
  display: grid;
  gap: 10%;
}
.center p{
  color: green;
}